{
  "storage": {
  "type": "filesystem",
  "config": {
    "path": "/repository",
    "fileMode": 384,
    "dirMode": 448,
    "dirShards": null
  }
},
  "caching": {
    "cacheDirectory": "/app/cache",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "expanse.homehaven.work",
  "username": "apheon",
  "description": "expanse.homehaven.work ",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
