---
name: krr

on:
  workflow_dispatch:

env:
  PROMETHEUS_URL: http://thanos-query-frontend.monitoring.svc.cluster.local:9090

jobs:
  krr:
    name: Run krr
    runs-on: [self-hosted]
    steps:
      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.x

      - name: Setup krr
        run: |
          git clone https://github.com/robusta-dev/krr
          cd krr
          pip install -r requirements.txt

      - name: Write kubeconfig
        id: kubeconfig
        uses: timheuer/base64-to-file@adaa40c0c581f276132199d4cf60afa07ce60eac # v1.2
        with:
          encodedString: ${{ secrets.KUBECONFIG }}
          fileName: kubeconfig

      - name: Run krr
        env:
          KUBECONFIG: ${{ steps.kubeconfig.outputs.filePath }}
        run: |
          python ./krr/krr.py simple --prometheus-url ${{ env.PROMETHEUS_URL }}
